@charset "ISO-8859-1";
@charset "ISO-8859-1";
.name-emp{
		margin-right: 15px;
   		margin-top: 7px;
		color: #fff;
	    background-color: #222222;
	    border-color: #222222;
}
.name-emp:hover{
		color: #fff;
	    background-color: #9d9d9d;
	    border-color: #9d9d9d;
}
.name-emp:visited{
		color: #fff;
	    background-color: #9d9d9d;
	    border-color: #9d9d9d;
}
.name-emp:active{
		color: #fff;
	    background-color: #9d9d9d;
	    border-color: #9d9d9d;
}
.name-emp:link{
		color: #fff;
	    background-color: #9d9d9d;
	    border-color: #9d9d9d;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
		background-color: #9d9d9d;
	    border-color: #9d9d9d;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
		color: #fff;
	    background-color: #9d9d9d;
	    border-color: #9d9d9d;	
}
.flex-container-empleado {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}
.flex-container-empleado > div {
  /*background-color: DodgerBlue;*/
  border
  color: black;
  width: 100px;
  margin: 10px;
  text-align: left;
  line-height: 25px;
  font-size: 19px;
}
.container-user{
	backgroun-color: blue;
}
.input-cambio{
	font-size: 12px;
	float: right;
	margin-top: 30px;
}
.th-text{
	font-size: 17px;	
}
#admin-panel{
  	display: flex;  	
  	flex-direction: column;
  	flex-flow: row wrap;
}
.item-panel{	
	width: 33%;
}
.item-panel-content{
	width: 90%;
    height: 150px;    
    margin: 10px;
    border-radius: 5%;
    text-align: center;
    transition: all 500ms ease;
}
.item-panel-content:hover{
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
.item-panel-content:hover{
	/*background: #888;*/
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
.flex-container-reserva{	
	 display: flex;
	 flex-direction: row;
}
.reserva-usuario{
	width: 30%;	
}
.reserva-habitacion{
	width: 70%;
	display: flex;
  flex-direction: row;
}
reserva-img{
	width: 50%;
}
.reserva-datos{
	width: 50%;
    margin-left: 15px;
    font-size: 17px;
}
.reser-dias{
	display: inline;
	margin-left: 10px;
	width: 30%;
	padding: 0px;
}
.input-reserva{
	font-size: 12px;
    float: right;
    margin-top: 30px;
}
.cp_list{
	margin-left: 10px;
}
.img-load{
	margin-top: 10px;
}
.img-input{
	background-color: #f1f1f1;
	border: none;
	box-shadow: none;
}
.modhot_buscador{	
}
.hoteles_list{
	
}
.buscar_hotel_in{
	width: 40%;
}
.input_hotel_sc{
	height: 30px;
}
.th_busc_text{
	width: 25%;
}
.conf-hotel{
	font-size: 8px;
}
/***********************************************************************************************/
@media screen and (max-width: 890px){
.reserva-habitacion {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.reserva-datos{
	margin-left: 0px;
}
@media screen and (max-width: 769px){
.flex-container-reserva {
    display: flex;
    flex-direction: column;
}
@media screen and (max-height: 500px){
.flex-container-empleado {
		height: 400px;
	}
}